*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.flex-container{
    display: flex;
}

/* HEADER */
.head-container {
    background-color: black;
    position: fixed;
    height: 100px;
    width: 100%;
    color: white;
    z-index: 1;
}

.btns{
    justify-content: end;
    align-items: center;
    height: 100px;
}

.btn {
    background-color: #494949;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 10px;
    cursor: pointer;
}

.fa-table-cells{
    font-size: 20px;
    padding-right:5px;
}


/* MAIN */
main{
    background-color: rgb(32, 32, 32);
}

.main-container{
    height: 100vh;
    padding:130px 0px 100px 0px;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}

.cam {
    margin-bottom: 20px;
    margin-right: 10px;
    position: relative;
}

.user-name {
    position: absolute;
    bottom: 6px;
    background-color: rgba(94, 94, 94, 0.5);
    padding: 5px;
    color: #fff;
}


/* FOOTER */
.footer-container{
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    color:white;    
}

.audio-video{
    width: 20%;
    height: 100%;
    align-items: center;
}

.audio-video .fa-solid{
    font-size: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
}

.user-actions{
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.user-actions .fa-solid{
    font-size: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
}

.text-icons{
    padding-left: 20px;
}

.fa-user-group{
    padding-left: 100px;
}

.fa-angle-up{
    font-size: 5px;
}

.chat{
    padding-left: 50px;
}
.fa-share-from-square{
    color: rgb(10, 225, 10);
}

.ending{
    width: 20%;
    height: 100%;
    justify-content: end;
}

.end-btn{
    color:red;
    background-color: #494949;
    padding: 5px 10px;
    cursor: pointer;
}
