*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.head-container{
    background-color: black;
    position: fixed;
    display: flex;
    color: #fff;
    display: inline-block;
}

.btn{
    color: #fff;
}

/* MAIN */

main{
    height: 100wh;
}

.main-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.cam{
    margin-bottom:20px ;
    margin-right: 10px ;
    position: relative;
}

.user-name{
    position:absolute;
    bottom:6px;
    background-color: rgba(94, 94, 94, 0.5);
    padding: 5px;
    color: #fff;

}


/* FOOTER */

footer{
    
}

.footer-container{
    
    background-color: rgb(28, 28, 28);
    color: #fff;
    display: flex;
}

.user-actions-dx{
    flex-grow: 1;
}

.user-actions-cx {
    flex-grow: 3;
}

.user-actions-sx {
    flex-grow: 1;
}